---
import Footer from "../../components/Footer.astro";
import SearchLayout from "../../layouts/SearchLayout.astro";
import { CollectionPage } from "../../components/CollectionPage";
import type {
  CardCollectionBookmarksDTO,
  CardCollectionBookmarksWithStatusDTO,
} from "../../../utils/apiTypes";

const { collectionID } = Astro.params;
const apiHost = import.meta.env.API_HOST as string;
let collectionCards: CardCollectionBookmarksWithStatusDTO = {
  metadata: {
    bookmarks: [],
    collection: {
      id: "",
      name: "",
      description: "",
      is_public: false,
      author_id: "",
    },
  },
  status: 0,
};

try {
  const collectionCardResponse = await fetch(
    `${apiHost}/card_collection/${collectionID ?? ""}`,
    {
      method: "GET",
    },
  );
  if (!collectionCardResponse.ok) {
    throw new Error(
      `Failed to fetch collection cards: ${collectionCardResponse.status} ${collectionCardResponse.statusText}`,
    );
  }

  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  const collectionCardJson: CardCollectionBookmarksDTO =
    await collectionCardResponse.json();
  collectionCards = {
    metadata: collectionCardJson,
    status: collectionCardResponse.status,
  };
} catch (e) {
  console.error(e);
}
---

<SearchLayout>
  <CollectionPage
    collectionID={collectionID}
    defaultCollectionCards={collectionCards}
    client:load
  />
  <div class="flex-1"></div>
  <Footer />
</SearchLayout>
